/*clears existing box styling*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* adds background image and positions and scales it responsively */
body {
  background-image: url("images/moon_demo.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 60vh;
  margin: 0;
  padding: 0;
  font-size: 28px;
  letter-spacing: 2px;
  font-family: serif;
}

body>div.imagepositoning {
  width: 100%;
  height: 105vh;
  background-image: url("images/demo_background.png");
  background-repeat: no-repeat;
  background-position: center 25vh;
  background-size: auto 70vh;
  z-index: -3;
}

/*styling for title text*/
header {
  position: absolute;
  line-height: .7;
  text-align: center;
  width: 100%;
  top: 12%;
  z-index: 2;
}

h1.title > a {
  font-size: 50px;
  color: #3d3f4e;
}

h2.subtitle {
  font-size: 20px;
  color: #bbb;
}

/* nav bar styling for desktop*/
div.nav {
  font-size: 24px;
  background-color: #aaa;
  float: left;
  z-index: 5;
  top: 0;
  width: 100%;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  padding: 5px;
  list-style: none;
}

a {
  flex: 1;
  color: #f6e0e0;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0 !important;
  width: 100%;
}

#arrow {
  position: absolute;
  top: 92vh;
  left: 48.7vw;
  border: solid #aaa;
  border-width: 0 .5vw .5vw 0;
  padding: 1.3vw;
  display: inline-block;
  transform: rotate(45deg);
}

#gallery {
  padding-top: 15%;
  text-align: center;
}

/* gallery grid */
#art {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* breakpoints */
@media all and (min-width: 800px) {
  section > img {
    object-fit: cover;
    height: 50vh;
  }
}

@media all and (max-width: 800px) {
  section > img {
    object-fit: cover;
    height: 35vh;
  }
}
